<!DOCTYPE html>
<html lang="ko">

<head>
  <%- include("./common_include.ejs"); %>
</head>

<body class="hold-transition sidebar-mini">
  <div class="wrapper">
    <!-- Navbar  -->
    <%- include("./common_navbar.ejs"); %>
      <!-- /.navbar -->

      <!-- Main Sidebar Container -->
      <%- include("./common_sidebar.ejs"); %>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
          <!-- Content Header (Page header) -->
          <section class="content-header">
            <div class="container-fluid">
              <div class="row mb-2">
                <div class="col-sm-6">
                  <h1>FCM 메시지 발송</h1>
                </div>
                <div class="col-sm-6">
                  <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">메시지 관리</a></li>
                    <li class="breadcrumb-item active">FCM 서비스 관리</li>
                  </ol>
                </div>
              </div>
            </div><!-- /.container-fluid -->
          </section>

          <!-- Main content -->
          <section class="content">
            <div class="card card-info">
              <div class="card-header">
                <h3 class="card-title">Send message</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <form>

                  <div class="row">
                    <div class="col-sm-12">
                      <!-- select -->
                      <div class="form-group">
                        <label>App Id</label>
                        <select id="appId" class="form-control">
                          <option value="WEBNOTISPL" selected>WEBNOTISPL</option>
                        </select>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm-12">
                      <!-- text input -->
                      <div class="form-group">
                        <label>Account Id</label>
                        <input type="text" id="accountId" class="form-control" value="thiago@naver.com" required>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm-12">
                      <!-- text input -->
                      <div class="form-group">
                        <label>Title</label>
                        <input id="title" type="text" class="form-control" placeholder="타이틀을 입력하세요." required>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm-12">
                      <!-- textarea -->
                      <div class="form-group">
                        <label>Message</label>
                        <textarea id="body" class="form-control" rows="3" placeholder="메시지를 입력하세요." required></textarea>
                      </div>
                    </div>
                  </div>

                  <div class="d-flex justify-content-end">
                    <button id="sendMsg" type="submit" class="btn btn-primary">메시지 전송</button>
                  </div>

                </form>
              </div>
              <!-- /.card-body -->
            </div>
          </section>
          <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->


        <!-- Main Footer -->
        <%- include("./common_footer.ejs"); %>
  </div>
  <!-- ./wrapper -->
  <script>
    $(document).ready(function () {

      const sendMsg = function () {
        let appId = $('#appId').val();
        let accountId = $('#accountId').val();
        let title = $('#title').val();
        let body = $('#body').val(); 

        if(title === '' || body === '') {
            alert('필수 입력 값 누락.');
            return;
        }

        let postData = { "notification" : {"title": title, "body": body} };
        let jsonData = JSON.stringify(postData);
        
        $.ajax({
          type: "POST",  
          url: "http://localhost:9090/lab-notification/push/transmit/" + appId +"/"+ accountId,  
          data: jsonData,  
          contentType: 'application/json', 
          success: function (response) {
            alert(response);          
          },
          error: function (xhr, status, error) {
            console.error(xhr.responseText);              
            alert('오류가 발생했습니다. 다시 시도해주세요.'); 
          }
        });
      }

      // 조회 버튼 클릭 이벤트
      $('#sendMsg').click(function () {
        sendMsg();
      });

    })
  </script>
</body>

</html>