<!DOCTYPE html>
<html lang="ko">
  <head>
    <title>lab-webapp(admin)</title>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>    
    <meta name='viewport' content='width=device-width, initial-scale=1'>    
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        /* 페이지 스타일링을 위한 사용자 정의 CSS */
        body {
          background-color: #f8f9fa;
        }
        .login-form {
          max-width: 480px;
          margin: 100px auto;
          background-color: #ffffff;
          padding: 30px;
          border-radius: 5px;
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        }
      </style> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>   
  </head>
  <body>
    <div class="container">
      <div class="login-form">
        <h2 class="text-center mb-4">Lab-smartwork</h2>
        <form role="form" action="/login" method="post">
          <div class="form-group">
            <label for="userId">ID</label>
            <input type="text" class="form-control" name="userId" id="userId" placeholder="사용자 ID를 입력하세요" required>
          </div>
          <div class="form-group">
            <label for="password">비밀번호</label>
            <input type="password" class="form-control" name="password" placeholder="비밀번호를 입력하세요" required>
          </div>
          <button type="submit" class="btn btn-primary btn-block">로그인</button>          
        </form>
        <div class="text-center mt-3">
          <p style="color: red;">
              <% if (typeof messages !== 'undefined') { %>
                 <%= messages %>
              <% } %>
          </p>
          <p>계정이 없으신가요? <a href="/signup" id="signup-link">계정등록요청</a></p>
        </div>
      </div>
    </div>
  </body>
</html>
