<!DOCTYPE html>
<html lang="ko">

<head>
  <%- include("./common_include.ejs"); %>
</head>

<body class="hold-transition sidebar-mini">
  <div class="wrapper">
    <!-- Navbar  -->
    <%- include("./common_navbar.ejs"); %>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <%- include("./common_sidebar.ejs"); %>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          빈페이지 header
        </section>

        <!-- Main content -->
        <section class="content">
          빈페이지 content
        </section>
        <!-- /.content -->
      </div>
      <!-- /.content-wrapper -->


      <!-- Main Footer -->
      <%- include("./common_footer.ejs"); %>
  </div>
  <!-- ./wrapper -->
  <script>
    $(document).ready(function () {


    }
    )
  </script>
</body>

</html>